[Unit]
Description=Wolf-OS Virtualization Uninstall Provisioner
After=local-fs.target
ConditionPathExists=!/etc/systemd/system/wolf-os-virtualization-uninstall.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/libexec/wolf-os-virtualization-libvirt-provisioning.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
