[Unit]
Description=Wolf-OS libvirt provisioning
After=local-fs.target
ConditionPathExists=!/etc/wolf-os/libvirt-provisioned

[Service]
Type=oneshot
User=root
ExecStart=/usr/libexec/wolf-os-virtualization-libvirt-provisioning.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
